<br />
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h3>Detalhes da Vaga</h3>
          <br>
          <div class="row">
            <div class="col-2">
              <mdb-form-control>
                <input mdbInput type="text" id="id" class="form-control" [(ngModel)]="vaga.id" [readonly]="true" />
                <label mdbLabel class="form-label" for="id">Código</label>
              </mdb-form-control>
            </div>
            <div class="col-10">
              <mdb-form-control>
                <input mdbInput type="text" id="titulo" class="form-control" [(ngModel)]="vaga.titulo"
                  [readonly]="!isAdmin()" />
                <label mdbLabel class="form-label" for="titulo">Título da Vaga</label>
              </mdb-form-control>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <mdb-form-control>
                <textarea placeholder="Descrição da Vaga" mdbTextArea id="descricao" [(ngModel)]="vaga.descricao"
                  rows="3" class="form-control" [readonly]="!isAdmin()"></textarea>
              </mdb-form-control>
            </div>
          </div>
          <br>
          <label mdbLabel class="form-label" style="padding-right:15px;">Status da vaga:</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="aberta" value="ABERTA"
              [(ngModel)]="vaga.statusVaga" [disabled]="!isAdmin()" />
            <label class="form-check-label" for="aberta">Aberta</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="fechada" value="FECHADA"
              [(ngModel)]="vaga.statusVaga" [disabled]="!isAdmin()" />
            <label class="form-check-label" for="fechada">Fechada</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="cancelada" value="CANCELADA"
              [(ngModel)]="vaga.statusVaga" [disabled]="!isAdmin()" />
            <label class="form-check-label" for="cancelada">Cancelada</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="preenchida" value="PREENCHIDA"
              [(ngModel)]="vaga.statusVaga" [disabled]="!isAdmin()" />
            <label class="form-check-label" for="preenchida">Preenchida</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="suspensa" value="SUSPENSA"
              [(ngModel)]="vaga.statusVaga" [disabled]="!isAdmin()" />
            <label class="form-check-label" for="fechada">Suspensa</label>
          </div>
          <br>
          <hr class="hr" />
          <br>
          <table class="table table-sm">
            <thead>
              <tr>
                <th style="width: 90%;">Requisito(s)</th>
                <th class="centro" style="width: 10%;">Ações</th>
              </tr>
            </thead>
            <tbody class="tabela-body">
              <tr *ngIf="vaga.requisitos.length === 0">
                <td colspan="2" class="esquerda">Sem registros para exibir</td>
              </tr>
              <tr *ngFor="let requisito of vaga.requisitos; let i = index">
                <td style="width: 90%;">{{ requisito }}</td>
                <td class="centro" style="width: 10%;">
                  <button type="button" class="btn btn-danger btn-sm btn-rounded" mdbRipple
                    (click)="excluirRequisisto(requisito)" *ngIf="isAdmin()">
                    Excluir
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="row">
            <div class="col-md-9">
              <button type="button" class="btn btn-primary me-2 btn-sm btn-rounded" mdbRipple
                [disabled]="(vaga.statusVaga != 'ABERTA' || carregando)" (click)="candidatar()" *ngIf="vaga.id! > 0">
                Candidatar
              </button>
              <button type="button" class="btn btn-primary me-2 btn-sm btn-rounded" mdbRipple (click)="criar()"
                *ngIf="(vaga.id == null || vaga.id == 0) && isAdmin()">
                Gravar
              </button>
              <button type="button" class="btn btn-primary me-2 btn-sm btn-rounded" mdbRipple (click)="alterar()"
                *ngIf="vaga.id! > 0 && isAdmin()">
                Alterar
              </button>
              <button type="button" class="btn btn-primary me-2 btn-sm btn-rounded" mdbRipple
                routerLink="/principal/vagas">
                Voltar
              </button>
            </div>
            <div class="col-md-3 direita padding-left">
              <button type="button" class="btn btn-primary  me-2 btn-sm btn-rounded" mdbRipple (click)="abrirModal()"
                *ngIf="isAdmin()">
                Novo Requisito
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>


<div class="text-center" *ngIf="carregando">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Carregando...</span>
  </div>
</div>

<!--Modal de Itens (Requisitos)-->
<ng-template #modalRequisito>
  <div class="modal-body">
    <h3>Requisito para a vaga</h3>
    <br>
    <div class="col-12">
      <mdb-form-control>
        <input mdbInput type="text" id="requisito" class="form-control" [(ngModel)]="requisito" />
        <label mdbLabel class="form-label" for="requisito">Descrição</label>
      </mdb-form-control>
    </div>
    <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary me-2 btn-sm btn-rounded" mdbRipple (click)="adicionarRequisito()"
      *ngIf="isAdmin()">
      Confirmar
    </button>
    <button type="button" class="btn btn-primary btn-sm btn-rounded" mdbRipple (click)="modalRef.close()">
      Fechar
    </button>
  </div>
</ng-template>